<span [hidden]="!err" style="color:red">{{err}}</span>
<form>
<input type="text" id="keyId" [(ngModel)]="formModel.keyId" name="keyId" placeholder="Key ID"/>
<input type="text" id="verificationCode" [(ngModel)]="formModel.verificationCode" name="verificationCode" placeholder="Verification Code"/>
<input type="text" id="name" [(ngModel)]="formModel.Name" name="name" placeholder="Name (Optional)"/>
</form>
 <button class="btn waves-effect waves-light" type="submit" name="action" (click)="addKey()">Add API key</button>

 <div *ngFor="let item of ApiKeys">
     <apikey-component [apiKey]="item"></apikey-component>
 </div>