<div class="forms-container">
    <div class="row">
            <form class="col s3 registerForm" name="registerForm">
                <div class="row">
                    <div class="input-field col-s4">
                        <input type="text" id="register_email"/>
                        <label for="register_email">Email address</label>
                    </div>
                    <div class="input-field col-s4">
                        <input type="password" id="register_password"/>
                        <label for="register_password">Password</label>
                    </div>
                    <div class="input-field col-s4">
                        <input type="password" id="register_passwordRepeat"/>
                        <label for="register_passwordRepeat">What was your password again?</label>
                    </div>
                </div>
                
                <button class="btn waves-effect waves-light" type="submit" name="action">Register
                </button>
            </form>
        <div class="form">
            <form class="col s3 loginform" name="loginForm">
                <div class="row">
                    <div class="input-field col-s4">
                        <input type="text" id="login_email" [(ngModel)]="username" name="login_email"/>
                        <label for="login_email">Email address</label>
                    </div>
                    <div class="input-field col-s4">
                        <input type="password" id="login_password" [(ngModel)]="password" name="login_password"/>
                        <label for="login_password">Password</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action" (click)="login()">Login
                </button>
            </form>
        </div>
    </div>
</div>